extends layout

append head
	link(rel="stylesheet", type="text/css", href="/assets/" + elementId + "/" + resourceName + ".css" )

block content
	.view-box
		h3 #{xtagJson.name}

		dl#xtag-details
			dt About
			div
				em Tag Name
				span #{xtagJson.tagName}

			div
				em Version
				span #{xtagJson.version}

			div
				em Categories
				- if (xtagJson.categories && xtagJson.categories.length)
					span #{xtagJson.categories.join(', ')}
				- else
					span None

			div
				em Author
				span #{xtagJson.author}

			div 
				em Description
				p #{xtagJson.description}

			- if (themes.length)
				div
					em Themes
					select.themes
						option(selected) none
						- for (var t in themes)
							option(value=themes[t]) #{themes[t].replace('.css','')}

			- if (xtagJson.demo && xtagJson.demo.length>0)
				div
					em Demo
					a(href=xtagJson.demo || "demo") View

		dl#readme
			dt README.md
			- if (readme)
				!{readme}
			- else
				h6 README.md not found.

		
		dl#documentation			
			- if (xtagJson.documentation)
				- if (xtagJson.documentation.attributes && Object.keys(xtagJson.documentation.attributes).length)
					dt Attributes
					dd			
						- for (var k in xtagJson.documentation.attributes)
							h4 
								code #{k}
							p #{xtagJson.documentation.attributes[k]}

				- if (xtagJson.documentation.getters && Object.keys(xtagJson.documentation.getters).length)
					dt Getters
					dd
						- for (var k in xtagJson.documentation.getters)
							h4 
								code #{k}
							p #{xtagJson.documentation.getters[k]}

				- if (xtagJson.documentation.setters && Object.keys(xtagJson.documentation.setters).length)
					dt Setters
					dd	
						- for (var k in xtagJson.documentation.setters)
							h4 
								code #{k}
							p #{xtagJson.documentation.setters[k]}

				- if (xtagJson.documentation.methods && Object.keys(xtagJson.documentation.methods).length)
					dt Methods
					dd
						- for (var k in xtagJson.documentation.methods)
							h4 
								code #{k}
							p #{xtagJson.documentation.methods[k]}

				- if (xtagJson.documentation.events && Object.keys(xtagJson.documentation.events).length)
					dt Events
					dd
						- for (var k in xtagJson.documentation.events)
							h4
								code #{k}
							p #{xtagJson.documentation.events[k]}
			- else
				h6 xtag.json documentation not found.

append scripts
	script(type="text/javascript", src="/js/x-tag.js?v=" + xtagVersion)
	script(type="text/javascript", src="/js/theme_selector.js" )
	script(type="text/javascript", src="/assets/" + elementId + "/" + resourceName + ".js" )
	script
		var elementId = #{elementId};
