extends layout

append head
	link(rel="stylesheet", type="text/css", href="/assets/" + elementId + "/" + resourceName + ".css" )
	script(type="text/javascript", src="/js/x-tag.js?v=" + xtagVersion)

block content
	.view-box
		h3 #{xtagJson.name}

		dl#xtag-details
			dt About
			div
				em Tag Name
				span #{xtagJson.tagName}

			div
				em Version
				span #{xtagJson.version}

			div
				em Categories
				- if (xtagJson.categories && xtagJson.categories.length)
					span #{xtagJson.categories.join(', ')}
				- else
					span None

			div
				em Author
				span #{xtagJson.author}

			div
				em Source
				a(href="#{gitUrl}") View

			div 
				em Description
				p #{xtagJson.description}

			- if (themes.length)
				div
					em Themes
					select.themes
						option(selected) none
						- for (var t in themes)
							option(value=themes[t]) #{themes[t].replace('.css','')}

			- if (xtagJson.demo && xtagJson.demo.length>0)
				div
					em Demo
					a(href="demo") View

		dl#readme
			dt README.md
			- if (readme)
				!{readme}
			- else
				h6 README.md not found.

		
		dl#documentation			
			- if (xtagJson.documentation)
				- each key in Object.keys(xtagJson.documentation)
					- var item = xtagJson.documentation[key]
					h2=key
					- if (item.attributes && Object.keys(item.attributes).length)
						dt Attributes
						dd			
							- for (var k in item.attributes)
								h4 
									code #{k}
								p #{item.attributes[k]}

					- if (item.getters && Object.keys(item.getters).length)
						dt Getters
						dd
							- for (var k in item.getters)
								h4 
									code #{k}
								p #{item.getters[k]}

					- if (item.setters && Object.keys(item.setters).length)
						dt Setters
						dd	
							- for (var k in item.setters)
								h4 
									code #{k}
								p #{item.setters[k]}

					- if (item.methods && Object.keys(item.methods).length)
						dt Methods
						dd
							- for (var k in item.methods)
								h4 
									code #{k}
								p #{item.methods[k]}

					- if (item.events && Object.keys(item.events).length)
						dt Events
						dd
							- for (var k in item.events)
								h4
									code #{k}
								p #{item.events[k]}
			- else
				h6 xtag.json documentation not found.

append scripts
	script(type="text/javascript", src="/js/theme_selector.js" )
	script(type="text/javascript", src="/assets/" + elementId + "/" + resourceName + ".js" )
	script
		var elementId = #{elementId};
